/* Стили для всего тела страницы */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Стили для контейнера формы */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Стили для заголовков формы */
h1, h2 {
    text-align: center;
}

/* Стили для полей ввода и кнопок */
input[type="text"], input[type="password"], select, input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Стили для кнопок входа и регистрации */
input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Стили для ошибок */
.error {
    color: red;
    font-weight: bold;
}
